/* ================================= 
  Base Styles
==================================== */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container,
.container-nav {
  display: flex;
  flex-wrap: wrap;
/*  height: 500px;*/
}
.item {
  flex-shrink: 3;
}
.item-1 {
  flex: 2;
}
.item-2 {
  flex: 1;
}
.codebox {
  align-self: flex-start;
  text-align: left;
}
.col {
  flex: 1 50%;
}
.row {
  flex-wrap: wrap;
}
.secondary {
  order: -1;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.main-header,
	.main-nav,
  .row {
		display: flex;
	}
	.main-header {
		flex-direction: column;
		align-items: center;
	}
  .col {
    flex: 1 50%;
  }
  .row {
    flex-wrap: wrap;
  }
  .secondary {
    order: -1;
  }
  .container-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .secondary-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

}

@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

  .col {
    flex-basis:  0;
  }

  .primary {
    flex-grow: 1.3;
    
  }

}