/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #1C1C1C;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  font-size: .95em;
}
h2,
h3,
a {
  color: #1ea5f7;
}
h1,
h2,
h3 {
  margin-top: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* --- Navigation ---*/

.name {
  font-size: 1.35em;
  margin: 0;
}
.main-nav {
  margin-top: 5px;
}
.name a, 
.main-nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
}
.main-nav a {
  font-size: .95em;
  color: #3acec2;
  text-transform: uppercase;
}
.main-nav a:hover {
  color: #093a58;
}

/* --- Layout Containers ---*/

.main-header {
  padding-top: .35em;
  padding-bottom: .35em;
}
.banner,
.main-footer {
  text-align: center;
}
.banner {
  color: #fff;
  background: #3acec2;
  padding: 1em 0;
  margin-bottom: 24px;
}
.col {
  padding-right: 1em;
  padding-left: 1em;
}
.main-footer {
  background: #d9e4ea;
  padding: 2em 0;
  margin-top: 30px;
}

/* --- Page Elements ---*/

.headshot {
  width: 132px;
  border-radius: 50%;
}
.headline {
  margin-bottom: 0;
}
.feat-img {
  border-radius: 5px;
}

/* ================================= 
  Notebook Design
==================================== */

h4 {
  color: #cd0000;
  font-size: 36px;
  font-family: courier, monospace;
  letter-spacing: -2px;
  text-align: center;
}

.main-body {
  background-color: #f5f5f5;
  width: 600px;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom:50px;
  padding: 0;
  
}
.list {
  color: #555;
  font-size: 22px;
  padding: 0;
  width: auto;
  font-family: courier, monospace;
  border: 1px solid #dedede;
}
.list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: none;
}
.list li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 600px;
  margin-left: 40px;
}
.step {
  text-decoration: underline;
  font-weight: bold;
}













/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.main-header,
	.row,
  .footer-inner{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	.tagline {
		font-size: 1.4em;
	}
}




















