/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #1C1C1C;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  font-size: .95em;
}
h2,
h3,
a {
  color: #1ea5f7;
}
h1,
h2,
h3 {
  margin-top: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* --- Navigation ---*/

.name {
  font-size: 1.35em;
  color: #444447; 
  margin: 0;
}
.main-nav {
  margin-top: 5px;
}
.name a, 
.main-nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
}
#home-link {
  color: black;
}
.main-nav a {
  font-size: .95em;
  color: #00A4FF;
  text-transform: uppercase;
}
.main-nav a:hover {
  color: #093a58;
}
.secondary-nav {
  margin-top: 0;
}
.secondary-nav a {
  background: #dae1e4;
  border: none;
  border-radius: 5px;
  color: #1d3c6a;
  font-size: 18px;
  font-weight: bold;
  padding-top: .35em;
  padding-bottom: .35em;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
}

/* --- Layout Containers ---*/

.main-header {
  padding-top: .35em;
  padding-bottom: .35em;
}
.banner,
.main-footer {
  text-align: center;
}
.banner {
  color: #fff;
  background: #00A4FF;
  padding: 1em 0;
  margin-bottom: 24px;
}
.col {
  padding-right: 1em;
  padding-left: 1em;
}
.item {
  background: #dae1e4;
  border: none;
  border-radius: 5px;
  color: #1d3c6a;
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  padding-top: .35em;
  padding-bottom: .35em;
  margin-right: 5px;
  outline: none;
  cursor: pointer;
/*
	color: #fff;
	padding: 15px;
	margin: 5px;	
	background: #3db5da;
	border-radius: 3px;
*/
}
.container {
	margin: 5px auto;
	padding: 10px;
	background: #fff;
  border-radius: 5px;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}  
.container-nav {
	margin: 10px;
	padding: 0;
	background: #00A4FF;
}
.main-footer {
  background: #d9e4ea;
  padding: 2em 0;
  margin-top: 30px;
}

/* --- Page Elements ---*/

.headshot {
  width: 132px;
  border-radius: 50%;
}
.headline {
  margin-bottom: 0;
}
.feat-img {
  border-radius: 5px;
}

/* ================================= 
  Notebook Design
==================================== */

h4 {
  color: #cd0000;
  font-size: 32px;
  font-family: courier, monospace;
  letter-spacing: -2px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.notebook {
  background-color: #f5f5f5;
  width: 600px;
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom:50px;
  margin-left: 50px;
  padding: 0;
}
.list {
  color: #555;
  font-size: 16px;
  padding: 0;
  width: auto;
  font-family: courier, monospace;
  border: 1px solid #dedede;
}
.list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: none;
}
.list li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.lines1 {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 3px;
  float: left;
  height: 850px;
  margin-left: 40px;
}
.lines2 {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 3px;
  float: left;
  height: 720px;
  margin-left: 40px;
}
.lines3 {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 3px;
  float: left;
  height: 165px;
  margin-left: 40px;
}
.lines4 {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 3px;
  float: left;
  height: 165px;
  margin-left: 40px;
}
.step {
  text-decoration: underline;
  font-weight: bold;
}
/*
input {
  
  padding: 3px 5px;
  margin: 4px 0;
  box-sizing: border-box;
}
*/

/* ================================= 
  Code Box Design
==================================== */

.codebox {
  border: 8px solid #755328;
  padding: 5px;
  width: 400px;
  height: 750px;
  margin-top: 100px;
  margin-right: 50px;
  margin-bottom:50px;
  margin-left: 50px;
}
.img {
  background-image: url("../img/chalkboard-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
pre {
  color: white;
  font-weight: bold;
}
#code {
  margin: 10px;
}

/* ================================= 
  Buttons
==================================== */

button {
  background: #dae1e4;
  border: none;
  border-radius: 5px;
  color: #1d3c6a;
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  padding: 5px;
  margin: 0;
  outline: none;
  cursor: pointer;
}
button:hover {
  background: #00A4FF;
  border: none;
  border-radius: 5px;
  color: #1d3c6a;
  font-size: 18px;
  font-weight: bold;
  color: white;
  width: 200px;
  padding: 5px;
  margin: 0;
  outline: none;
  cursor: pointer;
}
.runBtn {
  background: #dae1e4;
  border: none;
  border-radius: 5px;
  color: #1d3c6a;
  font-size: 18px;
  font-weight: bold;
  width: 500px;
  padding: 5px;
  margin: 5px;
  outline: none;
  cursor: pointer;
}
.runBtn:hover {
  background: #00A4FF;
  border: none;
  border-radius: 5px;
  color: #1d3c6a;
  font-size: 18px;
  font-weight: bold;
  color: white;
  width: 500px;
  padding: 5px;
  margin: 5px;
  outline: none;
  cursor: pointer;
}



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.main-header,
	.row {
		width: 90%;
		margin: 0 auto;
	}
	.tagline {
		font-size: 1.4em;
	}
}
@media (min-width: 1025px) {
	.main-header,
	.row {
		width: 80%;
		max-width: 1150px;
	}
}



















