.gamebox {
  border: 5px solid black;
  text-align: center;
  width: 900px;
  height: 650px;
  padding: 10px;
  margin: auto;
}

#losCanvas {
	border: 3px solid pink;
  position: relative;
  margin: 10px auto;
}

